.DS_Store

**/__pycache__
**/\.ipynb_checkpoints
**/*_credentials.json

python/stable/lets-plot/dev/notebooks/**.svg
python/stable/lets-plot/dev/notebooks/**.png
python/stable/lets-plot/dev/notebooks/lets-plot-images/**
